.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #aaa;
  border:  1px solid black;
  padding: 0.4rem;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  margin-top: 10px;
}

.cadastro-box {
 width: 40vw;
 margin: auto;
 background-color: rgba(255, 255, 255, 0.95);
 padding: 2rem;
 border-radius: 15px;
 border: 2px solid black;
 transform: translateY(2%);
 height: 42vw;
 display: flex;
 flex-direction: column;
 padding: 0;
}

.cadastro-box h2 {
margin-bottom: 2rem;
font-size: 2.2rem;
text-align: center;
}

.form-buttons {
display: flex;
margin-top: 1rem;
justify-content: center;
gap: 20px;
padding: 15px;
border-top: 1px solid #ccc;
background-color: #f9f9f9;
flex-shrink: 0;
border-radius: 5px;
transform: translateY(-10px);
/* border-bottom: 2px solid black; */
}

/* NOVOS estilos para layout fixo do título e botões */
.cadastro-header {
  padding: 13px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #f9f9f9;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(45deg, #c2bdbd, #3a3737, #aaa, #303030);
  background-size: 400% 400%; /* Amplia o gradiente para permitir a animação */
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-scroll {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

#myChart {
  margin: auto;
  box-sizing: border-box;
}

.date-range {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 5px;
  background-color: #f9f9f9;
}

.date-field {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.date-field label {
  margin-bottom: 4px;
  font-weight: bold;
}

.date-field input {
  padding: 0.4rem;
  border: 1px solid #555;
  border-radius: 5px;
}
